beautifulsoup4==4.13.4
google-api-core==2.25.1
google-auth==2.40.3
googleapis-common-protos==1.70.0
GPUtil==1.4.0
gymnasium==1.2.0SQLAlchemy==2.0.41
stable_baselines3
torch==2.7.1
pandas
matplotlib
numpy
alpaca_trade_api
pandas_market_calendars
ale-py==0.11.2
alpaca-py==0.37.0
alpaca-trade-api==3.2.0
stockstats==0.5.4
wrds==3.3.0
yfinance==0.2.58
selenium==4.32.0
webdriver-manager==4.0.2
scikit-learn==1.6.1
scipy==1.15.3